[run]
omit =
    examples/*
    tests/*
concurrency = multiprocessing
parallel = true
sigterm = true
data_file = .coverage
source = tadata_sdk

[report]
show_missing = true

[paths]
source =
    tadata_sdk/